<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.module.packager.launchConfigurationType">
<booleanAttribute key="ATTR_DISTRIBUTE_UNZIPPED" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="mapbox"/>
<stringAttribute key="com.appcelerator.titanium.mobile.module.deploy_target" value="SDK"/>
<stringAttribute key="distribute_path" value="/Users/franklegrand/Library/Application Support/Titanium/"/>
<stringAttribute key="ndk_path" value="/usr/local/Cellar/android-ndk/r10b/"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mapbox"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
</launchConfiguration>
