<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="MapboxModuleTestHarness"/>
<stringAttribute key="abi" value="armeabi-v7a"/>
<stringAttribute key="device-id" value="HTC One - 4.3 - API 18 - 1080x1920"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MapboxModuleTestHarness"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.mobile.ui.androidLogLevelFilteringProcessFactory"/>
<stringAttribute key="screen_type" value="HVGA"/>
<stringAttribute key="sdk_version" value="4.1.2"/>
</launchConfiguration>
